SCYLLA_CONTACT_POINTS=
SCYLLA_PORT=
SCYLLA_KEYSPACE=
SCYLLA_LOCAL_DATACENTER=
SCYLLA_USERNAME=
SCYLLA_PASSWORD=
AUTH_SECRET=
AUTH_SECRET_PREVIOUS=
# seed admin account details
SEED_ADMIN_FULL_NAME=
SEED_ADMIN_PHONE=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_ENFORCE_SINGLE_ADMIN=
SEED_ADMIN_LOOKBACK_MONTHS=